project_id = "ubkteecvproodlxvpfxt"

[functions.analyze-chart]
verify_jwt = false

[functions.check-subscription]
verify_jwt = false

[functions.create-checkout]
verify_jwt = false

[functions.customer-portal]
verify_jwt = false

[functions.send-push-notification]
verify_jwt = false
